<%- include('includes/header'); %>
<%- include('includes/navbar') %>

  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">Contact Book</h1>
        <p class="text-center lead">Your contacts are down below:</p>
        
        <%- include('includes/messages'); %> 

      </div>

      <% if (contacts.length > 0) { %>
        <div class="responsive-table">
          <table class="table my-3">
            <% contacts.forEach(contact => { %>
              <tr>
                <td><%= contact.firstName %></td>
                <td><%= contact.lastName %></td>
                <td><%= contact.phone %></td>
                <td><%= contact.email %></td>
                <td><a href="contact/edit/<%= contact._id %>" style="text-decoration:none">Edit</a></td>
                <td><a class="text-danger" href="contact/delete/<%= contact._id %>" style="text-decoration:none">Delete</a></td>
              </tr>
            <% }); %>
          </table>
        </div>
      <% } else { %>
        <p class="text-center lead">This contact book is empty.</p>
      <% } %>
    </div>
  </div>

<%- include('includes/footer') %>